KTW_WMS/src/main/java/DpsServiceManager.wsdl

<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://dps.server.scpwms.core.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://dps.server.scpwms.core.com">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dps.server.scpwms.core.com">
<xsd:element name="pickingListState">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="pickingListStateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ArrayOfDpsBean">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="DpsBean" nillable="true" type="tns:DpsBean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DpsBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="binCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="detailNo" nillable="true" type="xsd:long"/>
<xsd:element minOccurs="0" name="laborCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastUpdateTime" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="listNo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lotInfo" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="lotNum" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="skuCode" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="skuName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="skuNum" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="skuRealNum" nillable="true" type="xsd:double"/>
<xsd:element minOccurs="0" name="workTime" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="workType" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="commitCountList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfDpsBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="commitCountListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="commitPickingList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="tns:ArrayOfDpsBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="commitPickingListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadPickingList1">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadPickingList1Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDpsBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadPickingList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadPickingListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDpsBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="helloDps">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="helloDpsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCountList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCountListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:ArrayOfDpsBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="pickingListStateRequest">
<wsdl:part name="parameters" element="tns:pickingListState"/>
</wsdl:message>
<wsdl:message name="commitPickingListResponse">
<wsdl:part name="parameters" element="tns:commitPickingListResponse"/>
</wsdl:message>
<wsdl:message name="downloadCountListResponse">
<wsdl:part name="parameters" element="tns:downloadCountListResponse"/>
</wsdl:message>
<wsdl:message name="commitCountListRequest">
<wsdl:part name="parameters" element="tns:commitCountList"/>
</wsdl:message>
<wsdl:message name="downloadPickingList1Request">
<wsdl:part name="parameters" element="tns:downloadPickingList1"/>
</wsdl:message>
<wsdl:message name="helloDpsRequest">
<wsdl:part name="parameters" element="tns:helloDps"/>
</wsdl:message>
<wsdl:message name="helloDpsResponse">
<wsdl:part name="parameters" element="tns:helloDpsResponse"/>
</wsdl:message>
<wsdl:message name="commitPickingListRequest">
<wsdl:part name="parameters" element="tns:commitPickingList"/>
</wsdl:message>
<wsdl:message name="downloadPickingList1Response">
<wsdl:part name="parameters" element="tns:downloadPickingList1Response"/>
</wsdl:message>
<wsdl:message name="downloadCountListRequest">
<wsdl:part name="parameters" element="tns:downloadCountList"/>
</wsdl:message>
<wsdl:message name="downloadPickingListRequest">
<wsdl:part name="parameters" element="tns:downloadPickingList"/>
</wsdl:message>
<wsdl:message name="downloadPickingListResponse">
<wsdl:part name="parameters" element="tns:downloadPickingListResponse"/>
</wsdl:message>
<wsdl:message name="pickingListStateResponse">
<wsdl:part name="parameters" element="tns:pickingListStateResponse"/>
</wsdl:message>
<wsdl:message name="commitCountListResponse">
<wsdl:part name="parameters" element="tns:commitCountListResponse"/>
</wsdl:message>
<wsdl:portType name="DpsServiceManagerPortType">
<wsdl:operation name="pickingListState">
<wsdl:input name="pickingListStateRequest" message="tns:pickingListStateRequest"/>
<wsdl:output name="pickingListStateResponse" message="tns:pickingListStateResponse"/>
</wsdl:operation>
<wsdl:operation name="commitCountList">
<wsdl:input name="commitCountListRequest" message="tns:commitCountListRequest"/>
<wsdl:output name="commitCountListResponse" message="tns:commitCountListResponse"/>
</wsdl:operation>
<wsdl:operation name="commitPickingList">
<wsdl:input name="commitPickingListRequest" message="tns:commitPickingListRequest"/>
<wsdl:output name="commitPickingListResponse" message="tns:commitPickingListResponse"/>
</wsdl:operation>
<wsdl:operation name="downloadPickingList1">
<wsdl:input name="downloadPickingList1Request" message="tns:downloadPickingList1Request"/>
<wsdl:output name="downloadPickingList1Response" message="tns:downloadPickingList1Response"/>
</wsdl:operation>
<wsdl:operation name="downloadPickingList">
<wsdl:input name="downloadPickingListRequest" message="tns:downloadPickingListRequest"/>
<wsdl:output name="downloadPickingListResponse" message="tns:downloadPickingListResponse"/>
</wsdl:operation>
<wsdl:operation name="helloDps">
<wsdl:input name="helloDpsRequest" message="tns:helloDpsRequest"/>
<wsdl:output name="helloDpsResponse" message="tns:helloDpsResponse"/>
</wsdl:operation>
<wsdl:operation name="downloadCountList">
<wsdl:input name="downloadCountListRequest" message="tns:downloadCountListRequest"/>
<wsdl:output name="downloadCountListResponse" message="tns:downloadCountListResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="DpsServiceManagerHttpBinding" type="tns:DpsServiceManagerPortType">
<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="pickingListState">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="pickingListStateRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="pickingListStateResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="commitCountList">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="commitCountListRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="commitCountListResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="commitPickingList">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="commitPickingListRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="commitPickingListResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="downloadPickingList1">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="downloadPickingList1Request">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="downloadPickingList1Response">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="downloadPickingList">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="downloadPickingListRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="downloadPickingListResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="helloDps">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="helloDpsRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="helloDpsResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="downloadCountList">
<wsdlsoap:operation soapAction=""/>
<wsdl:input name="downloadCountListRequest">
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output name="downloadCountListResponse">
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="DpsServiceManager">
<wsdl:port name="DpsServiceManagerHttpPort" binding="tns:DpsServiceManagerHttpBinding">
<wsdlsoap:address location="http://localhost:9092/scpwms/webService/DpsServiceManager"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>